footer
    .wrapper
        +menu
        hr
        .footer-information 
            p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .footer-social
                a(href="#")
                a(href="#")
                a(href="#")
                a(href="#")
