header
    .wrapper
        +menu
        .pricing-description 
            p SOCIAL MARKETING & ANALYTICS
            h2 Pricing Table
        .pricing-description-header
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    