mixin menu
    .main-menu
        .logo 
            a(href="#")
                img(src="img/logo.png", alt="Логотип Misocial")
                span MISOCIAL
        .main-pages
            ul 
                li 
                    a(href="#") Home
                li
                    a(href="#") Why MISOCIAL
                li
                    a(href="#") Features
                li
                    a(href="#") Articles
                li
                    a(href="#") Pricing
                li    
                    a(href="#") get started
    
